body{
    padding: 0px;
    margin: 0px;
}

#one-top{
    height: 45px;
    position: fixed;
    top: 0;
    background: #ffffff;
    width: 100%;
    box-shadow: #666666 1px 2px 10px 2px; 
}

#one-top .one-top-background-png{
    height: 30px;
    width: 6%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8%;
}

#one-top .one-top-txt{
    line-height: 45px;
    color: #666666;
    margin-left: 1%;
}

#one-top .one-top-txt:hover{
    color: #000000;
}

#one-top .one-top-txts{
    line-height: 45px;
    color: #666666;
    font-size: 10px;
    float: right;
    margin-right: 2%;
}

#one-top .one-top-txts:hover{
    color: #000000;
}

#one-top .one-top-diss{
    float: right;
    margin-right: 8%;
    line-height: 45px;
}

#background-png{
    width: 100%;
    height: 550px;
    background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg1.gamersky.com%2Fimage2016%2F05%2F20160513zj_235_3%2Fgamersky_01origin_01_20165131719D3C.jpg&refer=http%3A%2F%2Fimg1.gamersky.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1645053360&t=6be4de87511776798bdc6965c79c132c);
    background-size: 100% 100%;
}

.two-txt{
    font-size: 50px;
    color: #76b900;
    margin-top: 10%;
    display: inline-block;
    margin-left: 10%;
}

.two-txts{
    color: #ffffff;
    margin-left: 10%;
    display: block;
    font-size: 25px;
    margin-top: 1%;
}

#background-png button{
    background-color: #76b900;
    margin-left: 10%;
    margin-top: 1%;
    height: 45px;
    width: 8%;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border: none;
}

#background-png button:hover{
    background-color: #76d300;
}

#table-txt .txt{
    color: #76b900;
    font-size: 35px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
}

#table-txt .table-one{
    width: 100%;
    margin-top: 20px;
}

#table-txt .table-td-diss{
    width: 8%;
}

#table-txt .table-td-background{
    width: 20%;
    height: 280px;
    background-color: #666666;
    vertical-align: bottom;
    border-radius: 5px;
}

#table-txt .table-td-background:hover{
    box-shadow: #666666 1px 2px 10px 2px;
}

#table-txt .table-td-background bt{
    color: #76b900;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    padding: 4%;
}

#table-txt .table-td-background wz{
    color: #666666;
    font-size: 15px;
    display: inline-block;
    width: 100%;
    margin-left:4%;
}

#table-txt .table-td-background span{
    background: #ffffff50;
    width: 100%;
    height: 100px;
    display: block;
    color: #ffffff;
}

#table-txt .table-one .table-br{
    height: 50px;
}

#bottom-one{
    width: 100%;
  
    background: #000000;
    margin-top: 60px;
   
}

#bottom-one .bottom-table{
    width: 100%;
    text-align: center;
}

#bottom-one .bottom-txt{
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    width: 29%;
    text-align: left;
}

 .bottom-diss{
    width: 5%;
}

hr{
    height: 0px; 
    border-top: 1px solid #999; 
    border-right: 0px; 
    border-bottom: 0px;
    border-left: 0px; 
}

#bottom-one .bottom-txts{
    color: #76b900;
    font-size: 18px;
    width: 29%;
    text-align: left;
}

#bottom-one .bottom-txtss{
    color: #76b900;
    font-size: 15px;
    width: 29%;
    text-align: left;
}

#bottom-one .bottom-table .bottom-height{
    height: 10px;
}

#bottom-one .bottom-two-txt{
    color: #ffffff;
    margin-left: 10%;
    margin-top: 4%;
    display: block;
    font-size: 25px;
}

#bottom-one  .two-png{
    width: 4%;
    vertical-align: middle;
}


#bottom-one .bottom-two-txt button{
    color: #ffffff;
    background-color: #76b900;
    border: none;
    width: 6%;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
}

#bottom-one .bottom-two-txt button:hover{
    background-color: #76d300;
}

#three-bottom{
    width: 100%;
    margin-top: 20px;
    vertical-align: middle;
}

#three-bottom .three-png{
    margin-left: 10%;
}

#three-bottom .three-pngs{
    width: 8%;
}

#three-bottom .three-txt{
    font-weight: 20px;
    color: #cccccc;
    float: right;
    font-weight: bold;
    margin-right: 10%;
    font-size: 20px;
}

#three-bottom .three-bottom-txt{
    margin-left: 10%;
    margin-top: 8px;
    display: inline-block;
    border-right: 1px #666666 solid;
    color: #666666;
}

#three-bottom .three-bottom-txts{
    color: #666666;
    border-right: 1px #666666 solid;
}

#three-bottom .three-bottom-txtss{
    color: #666666;
}

#three-bottom .three-bottom-txt:hover{
    color: #000000;
}

#three-bottom .three-bottom-txts:hover{
    color: #000000;
}

#three-bottom .three-bottom-txtss:hover{
    color: #000000;
}

#three-bottom .three-bottom-text{
    margin-left: 10%;
    margin-top: 8px;
    display: inline-block;
    font-size: 10px;
    color: #cccccc;
}
